common --enable_bzlmod
common --java_runtime_version=remotejdk_21
common --java_language_version=21
common --tool_java_runtime_version=remotejdk_21

common --repository_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/repository-cache
common --disk_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/disk-cache
common --java_runtime_version=remotejdk_21
common --java_language_version=21
common --tool_java_runtime_version=remotejdk_21

common --repository_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/repository-cache
common --disk_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/disk-cache
common --java_runtime_version=remotejdk_21
common --java_language_version=21
common --tool_java_runtime_version=remotejdk_21

common --repository_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/repository-cache
common --disk_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/disk-cache
common --java_runtime_version=remotejdk_21
common --java_language_version=21
common --tool_java_runtime_version=remotejdk_21

common --repository_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/repository-cache
common --disk_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/disk-cache
common --java_runtime_version=remotejdk_21
common --java_language_version=21
common --tool_java_runtime_version=remotejdk_21

common --repository_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/repository-cache
common --disk_cache=/Users/Danil.Tereshchenko/.cache/ide-starter-bazel/disk-cache
common --java_runtime_version=remotejdk_21
common --java_language_version=21
common --tool_java_runtime_version=remotejdk_21
